/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
  	margin: 0;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

 /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    margin: 0 auto;
    z-index: 2;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}


div.terms {
  padding: 50px;
  max-width: 100%;
  margin: 0 auto 10px auto;
  text-align: justify;
  line-height: 1.8;
}

div.terms p.title{
  text-align:center;
  font-size: 160%;
  text-shadow: 5px 5px 5px #24b2a2;
  margin-bottom: 30px;
  word-spacing: 10px;
  letter-spacing: 5px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*home*/

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/homepage_cards.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/homepage_cards_mockup.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://www.w3schools.com/howto/img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/*products*/

.main_wrapper {
  width: 1000px;
  height: auto;
  margin: auto;
}

.menubar {
  width: 1000px;
  height: 50px;
  background: gray;
  color: white;
}

/*search*/
#form {
  float: right;
  padding-right: 8px;
  line-height: 40px;
}

.content_wrapper {
  width: 1000px;
  height: 800px;
  margin: auto;
}

#content_area{
  width: 800px;
  height: auto;
  float: right;
  background: white;
}

#sidebar {
  width: 200px;
  height: 800px;
  background: black;
  float: left;
}

#sidebar_title {
  background: white;
  color: black;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

#cats {
  padding: 0;
  text-align: center;
}

#cats li {
  list-style: none;
}

#cats a {
  color: white;
  padding: 8px;
  margin: 5px;
  text-align: center;
  font size: 18px;
  text-decoration: none;
}

#cats a:hover {
  color: orange;
}

  #single_product,#homedesc{float:left; clear:none; display: flex;margin-left:20px; padding: 10px;}
  #single_product img {border: 2px solid black;}
  #shopping_cart {width:800px; height:50px; background:black; color:white;}

#homedesc img {text-align: center;}

#footer {
width: auto;
color:#ddd;
background-color:#282E34;
text-align:center;
padding:50px 80px;
text-align: justify;
position: relative;
}

div.effects:hover {
    opacity: 0.6;
    filter: alpha(opacity=100); /* For IE8 and earlier */
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

/*dynamic content*/

div.dynamic_content{
margin: 0;
width: auto;
background: #ffffff;
}

#homedesc {
  display: inline-block;
  width: 28%;
  height: auto;
}

b {
  font-weight: 15px;
}